name: Continuous Integration
on: [push]                      # Will make the workflow run every time you push to any branch

jobs:
        # dotnet buildjobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        dotnet-version: ['3.1.x']

    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-dotnet@v1
      with:
        dotnet-version: '3.1.x'
    - run: dotnet build # <my project>
    - run: dotnet test
    - run: cd .\DotNetTemplate.Web
    - run: npm t

      # jobs:
  # build:
    # name: Build and test
    # runs-on: ubuntu-latest      # Sets the build environment a machine with the latest Ubuntu installed
    # steps:
    # - uses: actions/checkout@v2 # Adds a step to checkout the repository code