name: Continuous Integration
on: [push]                      # Will make the workflow run every time you push to any branch

jobs:
        # dotnet buildjobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        dotnet-version: [ '2.2.103', '3.0', '3.1.x', '5.0.3', '5.0.103' ]

    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-dotnet@v1
      with:
        dotnet-version: '3.1.x' # SDK Version to use; x will use the latest version of the 3.1 channel
    - run: dotnet build # <my project>

      # jobs:
  # build:
    # name: Build and test
    # runs-on: ubuntu-latest      # Sets the build environment a machine with the latest Ubuntu installed
    # steps:
    # - uses: actions/checkout@v2 # Adds a step to checkout the repository code